img{
    width:90%;
    height: auto;
}
mat-card{
    padding: 2px;
    margin: 2px;

}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
   .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .filter{
    margin-left: auto;
  }
//    .mat-mdc-form-field + .mat-mdc-form-field {
//     margin-left: 8px;
//   }