<!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
<a mat-tab-link [routerLink]="'oblasti'" [active]="true">Oblasti</a>

<a mat-tab-link [routerLink]="'oblasti'" [active]="true">Oblasti</a>
<a mat-tab-link [routerLink]="'zadaci'">Zadaci</a>
<a mat-tab-link [routerLink]="'testovi'">Testovi</a>
</nav> -->


<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
  @for (link of links; track link) {
    <a mat-tab-link [routerLink]="link.url"
    [active]="activeLink?.url == link.url"> {{link.label}} </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>