
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Subjects</mat-card-title>
                  <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button routerLink="/subjects">Learn More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Questions </mat-card-title>
                    <mat-card-subtitle>Medium</mat-card-subtitle>
                    <div mat-card-sm-image>
                      <button mat-raised-button>12</button>
                    </div>
                    <!-- <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu"> -->
                  </mat-card-title-group>
                  <!-- <mat-card-title>Questions</mat-card-title>
                  <mat-card-subtitle>Non-sporting group</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button routerLink="/questions">Learn More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Tests</mat-card-title>
                  <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button>Learn More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Documents</mat-card-title>
                  <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button>Learn More</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Courses</mat-card-title>
                  <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button>Learn More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Students</mat-card-title>
                  <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                  <button mat-button>Learn More</button>
                </mat-card-actions>
              </mat-card>
        </div>

    </div>
</div>