<div class="container">

  @if (false) {
    <div class="row">
      <mat-form-field class="example-fullwidth col-md-4">
        <mat-label>Predmet</mat-label>
        <mat-select formControlName="subject_id" [(ngModel)]="subject_id" (selectionChange)="subjectChanged($event)">
          <mat-option>None</mat-option>
          @for (subject of subjects; track subject) {
            <mat-option [value]="subject.id">{{subject.name}}</mat-option>
          }
          <!-- <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-fullwidth col-md-4">
        <mat-label>Oblast</mat-label>
        <mat-select [(ngModel)]="chapter_id"  >
          <mat-option>None</mat-option>
          @for (chapter of chapters; track chapter) {
            <mat-option [value]="chapter.id">{{chapter.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="col-md-4">
        <button mat-button (click)="updateSubjectChapter()">Basic</button>
      </div>
    </div>
  }
  <!-- <question *ngFor="let q of questions" [question]="q"></question> -->

  <div class="row paper">
    <div class="col-md-12">
      <ol>
        @for (q of questions; track q) {
          <li class="mt-2">
            <div [mathjax]="q?.text ??''"></div>
          </li>
        }
      </ol>

    </div>
  </div>


</div>