<div class="container">
    <p><mat-slide-toggle #random>Generator!</mat-slide-toggle></p>
    <div class="row" *ngIf="random.checked">
        <div [mathjax]="kvadar.toString()"></div>
        <button (click)="randomKvadar()">refresh</button>
    </div>
    <div class="row" *ngIf="random.checked">
        <div [mathjax]="kocka.toString()"></div>
        <button (click)="randomKocka()">refresh</button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ol class="list-group list-group-numbered">
                <!-- <li class="list-group-item mb-2" >
                    <div class="d-zadatak px-4" [mathjax]="qq"></div>
                </li> -->
                <question *ngFor="let qq of q; let  i = index" [no]="i+1" [question]="qq"/>
              </ol>
        </div>
    </div>
</div>