mat-card-header{
    background-color: lightblue;
    width:100%;
}
mat-card-subtitle{
    width:100%;
    text-align: right;
}

#btnNewQuestion{
    position:sticky;
    bottom: 10px;
    float:right;
}