
<div class="row">
  @for (subject of subjects; track subject) {
    <mat-card class="example-card col-md-3 m-1 p-3">
      <mat-card-header>
        <mat-card-title><a [routerLink]="'/subjects/'+subject.id">{{ subject.name }}</a></mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p>Chapters: {{subject.chapters?.length}}</p>
            </div>
            <div class="col-md-6">
              <p>Questions: {{subject.questions?.length}}</p>
            </div>
          </div>
        </div>
        <!-- <p>This card indeterminates progress bar.</p> -->
      </mat-card-content>
      <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
}
</div>
<button mat-fab color="primary" [routerLink]="'/subjects/unos'" id="btnAddSubject" aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>