<div class="card mb-2" [class.selected]="selected" >
  <div class="card-body" >
    <div class="card-text">
      <div class="row m-0">
        <div class="col-md-1 text-end question-no">
          <span class="badge rounded-pill bg-primary">{{no ?? question?.id}}.</span>
        </div>
        <div class="col-md-11">
          @if (!edit) {
            <div id="options">
              @if (!!question?.id) {
                <button class="btnEdit" mat-icon-button color="primary" aria-label="" (click)="edit=true">
                  <mat-icon>edit</mat-icon>
                </button>
              }
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                @if (!!question?.id) {
                  <button mat-menu-item (click)="select_question()">
                    @if (!selected_questions.includes(question?.id)) {
                      <mat-icon>check_box_outline_blank</mat-icon>
                    }
                    @if (selected_questions.includes(question?.id)) {
                      <mat-icon>check_box</mat-icon>
                    }
                    <span>Select</span>
                  </button>
                }
                <button mat-menu-item disabled>
                  <mat-icon>keyboard_arrow_up</mat-icon>
                  <span>Move up</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>keyboard_arrow_down</mat-icon>
                  <span>Move down</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                  <span>Next</span>
                </button>
                <button mat-menu-item class="btnDelete" [disabled]="!(question?.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
          }
        </div>
      </div>
      <div class="row align-middle">
        <div class="offset-md-1 col-md-11 question">
          @if (!edit) {
            <div [mathjax]="question?.text ?? ''" (click)="select_question()"></div>
          }
          @if (edit && question) {
            <question-form [question]="question" [action]="editAction" (success)="edit=false" (cancel)="edit=false" />
          }
        </div>
      </div>

    </div>
    <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav> -->
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      @if (!!question?.subject) {
        <li class="breadcrumb-item"><a href="#">{{question?.subject?.name}}</a></li>
      }
      @if (!!question?.chapter) {
        <li class="breadcrumb-item" aria-current="page">{{ question?.chapter?.name}}</li>
      }
    </ol>
  </nav>
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>